html, body {
  background: linear-gradient(to right, #ffffff, #f7f7f7);
  color: #1c1c1e;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}


.container {
  max-width: 540px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  padding: 2rem;
  backdrop-filter: blur(200px);
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.4);
    }

    .topbar {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-bottom: 20px;
    }

    .box {
      padding: 10px 20px;
      background-color: #007BFF;
      color: white;
      border-radius: 5px;
      text-decoration: none;
      font-weight: bold;
    }

    .box:hover {
      background-color: #0056b3;
    }

    form {
      padding: 10px;
      border: 3px solid #ccc;
      border-radius: 12px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      background-color: #fff;
    }

    label {
      font-weight: bold;
      display: block;
      margin-top: 10px;
    }

    input, select, textarea, button {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      background-color: #007BFF;
      color: white;
      border: none;
      cursor: pointer;
      margin-top: 15px;
    }

    button:hover {
      background-color: #0056b3;
    }

    footer {
      margin-top: 20px;
      padding: 10px;
      background-color: #f1f1f1;
    }
	
	 .style-switcher {
      display: flex;
      gap: 10px;
      margin-top: 10px;
    }

    .style-btn {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid #ccc;
      cursor: pointer;
      outline: none;
    }

    .default-style {
      background-color: #ffffff;
    }

    .alt-style {
      background-color: #1e1e1e;
    }


    .toast {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }

	.toast.show {
	  opacity: 1;
	  transition: opacity 0.5s ease-in-out;

	.consent-section {
		margin-top: 1rem;
		font-weight: 600;
		color: #222226; 
		text-align: left;
		display: block;
		font-size: 15px;
	}
	